.links-of-blogroll {
  font-size: $font-size-smaller;
}

.links-of-blogroll-title {
  font-size: $font-size-medium;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
}

.links-of-blogroll-list {
  list-style: inside;
  text-align: start;
  margin: 0;
  padding: 0 20px;
}
