<table width="100%" border="0">
  <tr>
    <td style="text-align:left; border:0">
      <div class="copyright">
        {% set copyright_year = date(null, 'YYYY') %}
        &copy;
        {% if theme.footer.since and theme.footer.since != copyright_year %}{{ theme.footer.since }}
          –
        {% endif %}
        <span itemprop="copyrightYear">{{ copyright_year }}</span>
        <span class="with-love">
          <i class="{{ theme.footer.icon.name }}"></i>
        </span>
        <span class="author" itemprop="copyrightHolder">{{ theme.footer.copyright or author }}</span>

        {%- if config.symbols_count_time.total_symbols %}
          <span class="post-meta-divider">|</span>
          <span class="post-meta-item-icon">
            <i class="fa fa-chart-area"></i>
          </span>
          {%- if theme.symbols_count_time.item_text_total %}
            <span class="post-meta-item-text">{{ __('symbols_count_time.count_total') + __('symbol.colon') }}</span>
          {%- endif %}
          <span title="{{ __('symbols_count_time.count_total') }}">{{ symbolsCountTotal(site) }}</span>
        {%- endif %}

        {%- if config.symbols_count_time.total_time %}
          <span class="post-meta-divider">|</span>
          <span class="post-meta-item-icon">
            <i class="fa fa-coffee"></i>
          </span>
          {%- if theme.symbols_count_time.item_text_total %}
            <span class="post-meta-item-text">{{ __('symbols_count_time.time_total') }}
              &asymp;</span>
          {%- endif %}
          <span title="{{ __('symbols_count_time.time_total') }}">{{ symbolsTimeTotal(site, config.symbols_count_time.awl, config.symbols_count_time.wpm, __('symbols_count_time.time_minutes')) }}</span>
        {%- endif %}

      </div>
      {%- if theme.footer.powered %}
        <div class="powered-by">
          {%- set next_site = 'https://theme-next.js.org' %}
          {%- if theme.scheme !== 'Gemini' %}
            {%- set next_site = 'https://theme-next.js.org/' + theme.scheme | lower + '/' %}
          {%- endif %}
          {{- __('footer.powered', next_url('https://hexo.io', 'Hexo', {class: 'theme-link'}) + ' & ' + next_url(next_site, 'NexT.' + theme.scheme, {class: 'theme-link'})) }}

          {%- if theme.creative_commons.license %}
            {%- set ccIcon = '<i class="fab fa-fw fa-creative-commons"></i>' %}
            {%- set ccText = theme.creative_commons.license | upper %}
            <span class="post-meta-divider">|</span>
            {{- __(theme.footer.license_text, next_url(ccURL, ccIcon + ccText)) }}
          {%- endif %}
        </div>
      {%- endif %}
    </td>
    <td style="text-align:right; border:0">
      <div class="links-of-author" style="font-size: 20px; justify-content: flex-end; line-height: 24px;">
        {%- if theme.social %}
          {%- for name, link in theme.social %}
            <span class="links-of-author-item">
              {%- set sidebarURL = link.split('||')[0] | trim %}
              {%- set sidebarIcon = '<i class="' + link.split('||')[1] | trim + ' fa-fw"></i>' %}
              {{ next_url(sidebarURL, sidebarIcon, {title: name + ' → ' + sidebarURL}) }}
            </span>
          {%- endfor %}
        {%- endif %}
      </div>
      {{- next_url(theme.footer.sitemap_url, theme.footer.sitemap_text) }}
      <span class="post-meta-divider">|</span>
      {{- next_url(theme.footer.feed_url, theme.footer.feed_text) }}
      <span class="post-meta-divider">|</span>
      {{- next_url(theme.footer.contact_url, theme.footer.contact_text) }}
      {%- if theme.footer.beian.enable %}
        <span class="post-meta-divider">|</span>
        {%- set icp_url = 'http://www.beian.miit.gov.cn' %}
        {%- if theme.footer.beian.icp_url %}
          {%- set icp_url = theme.footer.beian.icp_url %}
        {%- endif %}
        {{- next_url(icp_url, theme.footer.beian.icp) }}
        {%- if theme.footer.beian.gongan_icon_url %}
          <span class="post-meta-divider">|</span>
          <img src="{{ url_for(theme.footer.beian.gongan_icon_url) }}" style="display: inline-block;">
        {%- endif %}
        {%- if theme.footer.beian.gongan_id and theme.footer.beian.gongan_num %}
          {{- next_url('http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=' + theme.footer.beian.gongan_id, theme.footer.beian.gongan_num + ' ') }}
        {%- endif %}
      {%- endif %}

    </td>
  </tr>
</table>

{%- if theme.add_this_id %}
  <div class="addthis_inline_share_toolbox">
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ theme.add_this_id }}" async="async"></script>
  </div>
{%- endif %}

{{- next_inject('footer') }}
